[Service]
ExecStart=
ExecStart={{ prometheus_bin }} \
	--storage.tsdb.path={{ prometheus_lib_dir }} \
	--storage.tsdb.retention.time=30d \
	--storage.tsdb.retention.size=0 \
	--web.config.file={{ prometheus_web_config_file }} \
	--web.console.libraries=/etc/prometheus/console_libraries \
	--web.console.templates=/etc/prometheus/consoles \
	--web.listen-address={{ prometheus_http_address }}:{{ prometheus_http_port }} \
	--web.external-url={{ prometheus_web_external_url }} \
	--config.file={{ prometheus_config_file }}
